[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

gunicorn = "*"
django-heroku = "*"
flask = "*"
flask-restful = "*"
tensorflow = "*"
numpy = "*"
scikit-image = "*"
pillow = "*"


[requires]

python_version = "3.6"
